@import url('./_reset.css');

@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@300&family=Roboto:wght@400;700&display=swap');


* {
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
}

/* HEADER KODLARI START */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 112.5px;
    padding-top: 41px;
}

header nav a {
    color: #222;
    padding: 7px;
}

header .fa-bars {
    display: none;
}

@media(max-width:832px) {
    header .fa-bars {
        display: flex;
        font: size 24px;
        cursor: pointer;
    }

    nav {
        display: none;
    }
}

/* HEADER KODLARI END */

/* INTRODUCTION KODLARI START */
.introduction {
    display: flex;
    justify-content: space-between;
    padding-left: 113px;
    padding-right: 112px;
    flex-wrap: wrap;

}

.introduction h1 {
    font-size: 72px;
    font-weight: 700;
    flex-wrap: wrap;
}

.introduction .left-side {
    padding-top: 117px;
    min-width: 700px;
    display: flex;
    flex-direction: column;
}


.introduction .left-side h1 span {
    color: #FF8A56;
}

.introduction .left-side p {
    color: #666;
    padding-top: 34px;
    padding-bottom: 34px;
    min-width: 700px;
}

.introduction .left-side button {
    width: 151px;
    height: 58px;
    background-color: #222;
    color: #fff;
}

.introduction .left-side a {
    padding-left: 12px;
}

.button-groups {
    display: flex;
    align-items: center;
}

.button-groups a {
    color: #000;
}


@media(max-width:1441px) and (min-width:828px) {
    .introduction .left-side {
        flex-basis: 100%;
        align-items: center;
    }

    .introduction .right-side {
        margin: 0 auto;
    }

}

@media(max-width:768px) {

    .introduction {
        padding-left: 30px;
    }

    .introduction .left-side {
        min-width: 500px;
    }

    .introduction .left-side h1 {
        font-size: 48px;
        text-align: center;
    }

    .introduction .left-side p {
        text-align: center;
    }

    .button-groups {
        margin: 20px auto;
    }

    .right-side {
        margin: 0 auto;
    }
}

/* INTRODUCTION KODLARI END */



/* TRUSTED BY KODLARI START */

.trusted-by-section h5 {
    text-align: center;
    font-size: 1.2rem;
    padding-top: 77px;
    font-weight: 400;
}

.partner-section {
    display: flex;
    justify-content: space-around;
    padding-top: 77px;
    padding-left: 289px;
    padding-right: 289px;
}

@media(max-width:768px) {
    .partner-company:nth-child(even) {
        display: none;
    }
}

@media(max-width:576px) {
    .partner-company:not(:first-child) {
        display: none;
    }
}

/* TRUSTED BY KODLARI END */



/* SERVICES SECTION START */

ul {
    list-style-type: square;
}

.services-section h6 {
    padding-top: 77px;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 1.3rem;
    color: #FF5E69;
    text-align: center;
    letter-spacing: 4px;
}

.services-section h1 {
    font-weight: 700;
    font-size: 3.3rem;
    padding-bottom: 115px;
    text-align: center;
}

.services-section .services-cards {
    display: flex;
    justify-content: space-evenly;
}

.service-card h2 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 30px;
}

.service-card p {
    font-size: 16px;
    font-weight: 400;
    color: #666;
    line-height: 28px;
    padding-bottom: 10px;
}

.service-card ul {
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
}


/* SERVICES SECTION END */



/* PROJECTS SECTION KODLARI START */

.projects-section {
    display: flex;
    justify-content: space-between;
    padding-left: 113px;
    padding-right: 113px;
    padding-top: 113px;
}

.projects-section .text h6 {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #B16CEA;

}

.projects-section .text h1 {
    font-weight: 700;
    font-size: 54px;
    line-height: 59.4px;
    padding-top: 20px;
}

.projects-section button {
    width: 201px;
    height: 58px;
    margin-top: 50px;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

/* PROJECTS SECTION KODLARI END */

/* CARD SECTION START */

.cards-section {
    display: flex;
    padding-top: 50px;
    padding-left: 20px;
    justify-content: space-around;
}

.card-top {
    width: 100%;
    height: 305px;
}

.card-bottom {
    background-color: #fff;
    width: 100%;
    height: 181px;
    flex-direction: column;
    margin-top: 5px;
}

.card-bottom i {
    font-size: 14px;
    font-weight: 700;
    color: #3C46FF;
    padding-left: 32px;
    padding-right: 344px;
    padding-top: 20px;
}

.card-bottom h3 {
    font-size: 24px;
    font-weight: 700;
    padding-top: 20px;
    padding-left: 32px;
}

.card-bottom a {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    padding-left: 32px;
    
}


/* CARD SECTION END */

/* BLOGS SECTION START */

.blogs-section {
    background-color: #000;
    margin: -10%;
    width: 1670px;
    height: 1200px;
}

.blogs-section button {
    color:#fff;
    cursor: pointer;
}













/* BLOGS SECTION END */